@font-face {
  font-family: 'Monoton-Regular';
  src: url('@/assets/font/Gotham-Rounded-Bold.woff');
}
@font-face {
  font-family: 'Alata-Regular';
  src: url('@/assets/font/Alata-Regular.woff');
}

@font-face {
  font-family: 'Round-Regular';
  src: url('@/assets/font/Gotham-Rounded-Book.woff');
}

@font-face {
  font-family: 'Round-Bold-Regular';
  src: url('@/assets/font/Gotham-Rounded-Bold.woff');
}

@font-face {
  font-family: 'test-regular';
  src: url('@/assets/font/Monoton-Regular.woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('@/assets/font/JetBrainsMono-Bold.woff2');
}

@font-face {
  font-family: 'Playball';
  src: url('@/assets/font/Playball-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('@/assets/font/Poppins-Black.ttf');
}

body,
html,
#app {
  min-height: 600px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


body,
html,
#app,
button,
label,
input,
h1,
h2,
h3,
h4,
h5 {
  font-family:  'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif ;
  margin-top: 0;
}
.project-name {
  font-family: 'Monoton-Regular', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
body::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}