$zh-font-family: 'Microsoft YaHei';
$logo-font-family: 'Monoton-Regular';
$special-font-family: 'Alata-Regular';
$round-font-family: 'Round-Regular';
$test: 'test-regular';
$round-bold-font-family: 'Round-Bold-Regular';
$radius-regular: 40px;
$white: '#e6e8eb';
.g-unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
}
.no-scoll::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}
.g-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --primary-out: ;
  --primary-error: #B2001F;
  --el-color-primary: #8c8c8c;
  --el-color-primary-light-3: #b3b3b3;
  --el-color-primary-light-5: #c1c1c1;
  --el-color-primary-light-7: #d5d5d5;
  --el-color-primary-light-8: #ececec;
  --el-color-primary-light-9: #e0fcf5;
  --el-color-primary-dark-2: #6d6d6d;
  --el-button-hover-bg-color: #6d6d6d;
  --el-input-focus-border-color: rgb(74, 74, 74);
  --primary-light: #c0c0c0;
  --primary: black;
  --primary-dark: #929292;
  --white: #ffffff;
  --greyLight-0: #F5F5F5;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyLight-4:#D1D5DB;
  --greyDark: #9baacf;
  --dark: black;
}
.el-dialog {
  padding: 0px;
}

body {
  --sz: 10px;
  --c0: #e0fcf5;
  --c1: #cce8e1;
  --c2: #66c0ad;
  --c3: #99d4c7;
  --ts: 50% / calc(var(--sz) * 12.8) calc(var(--sz) * 22);
  --dialog-color: #2f4f4f;
  --dialog-deep-color: #436363;
  --vp-screen-max-width: 1362px;
  --vp-sidebar-width-small: 19rem;
  --header-height: 55px;
  --nav-height: 55px;
  --sidebar-z-index: 40;
  --el-bg-color: #ffffff;
  --bg-color: var(--el-bg-color);
  --sidebar-width-xs: 20rem;
  --el-transition-duration-fast: 0.2s;
  --el-text-color-secondary: #909399;
  --sidebar-width-sm: 13rem;
  --place-default-color: #c0c0c0;
  --global-error-color: #f89898;
  --global-theme-color: #009879;
  --global-theme-light-color: #28c0a1;
  --global-theme-color-rgb: rgba(0, 152, 121, 0.1);
  --private-bg: /*bottom*/ conic-gradient(
        from 120deg at 50% 86.5%,
        var(--c1) 0 120deg,
        #fff0 0 360deg
      )
      var(--ts),
    conic-gradient(from 120deg at 50% 86.5%, var(--c1) 0 120deg, #fff0 0 360deg)
      var(--ts),
    /*bottom dark*/
      conic-gradient(from 120deg at 50% 74%, var(--c0) 0 120deg, #fff0 0 360deg)
      var(--ts),
    /*right*/
      conic-gradient(
        from 60deg at 60% 50%,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        #fff0 0 360deg
      )
      var(--ts),
    /*left*/
      conic-gradient(
        from 180deg at 40% 50%,
        var(--c3) 0 60deg,
        var(--c1) 0 120deg,
        #fff0 0 360deg
      )
      var(--ts),
    /*top dark*/
      conic-gradient(from 0deg at 90% 35%, var(--c0) 0 90deg, #fff0 0 360deg)
      var(--ts),
    conic-gradient(from -90deg at 10% 35%, var(--c0) 0 90deg, #fff0 0 360deg)
      var(--ts),
    conic-gradient(from 0deg at 90% 35%, var(--c0) 0 90deg, #fff0 0 360deg)
      var(--ts),
    conic-gradient(from -90deg at 10% 35%, var(--c0) 0 90deg, #fff0 0 360deg)
      var(--ts),
    /*top*/
      conic-gradient(
        from -60deg at 50% 13.5%,
        var(--c1) 0 120deg,
        #fff0 0 360deg
      )
      var(--ts),
    conic-gradient(from -60deg at 50% 13.5%, var(--c1) 0 120deg, #fff0 0 360deg)
      var(--ts),
    conic-gradient(
        from -60deg at 50% 41%,
        var(--c2) 0 60deg,
        var(--c3) 0 120deg,
        #fff0 0 360deg
      )
      var(--ts),
    var(--c0);
}
